<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Custom Emoji</title>
    <meta
      name="description"
      content="Add custom emojis to your GitLab group using GraphQL mutations"
    >

    <link rel="icon" type="image/png" href="{{ site_base_dir }}favicon.png">

    {% stylesheet '/styles.css' %}
  </head>
  <body class="relative bg-brand-medium/15 text-[16px] antialiased dark:bg-zinc-900">
    <div class="absolute inset-0 -z-10 mx-0 flex h-[clamp(350px,50vw,500px)] max-w-none justify-center overflow-x-clip">
      <div
        class="h-full min-w-[clamp(1200px,160vw,2300px)] bg-gradient-to-br from-red-500/30 via-brand-medium/40 via-40% opacity-80 [mask-image:radial-gradient(farthest-side_at_top,white,transparent)] dark:from-red-500/5 dark:via-brand-medium/20 dark:via-100% dark:to-transparent"
      ></div>
    </div>

    <header
      class="group mx-auto flex max-w-screen-2xl flex-col items-center px-4 pt-6 sm:px-8"
      data-random-emoji-hover-area
    >
      <h1 class="flex select-none flex-row flex-wrap items-center gap-3 text-center text-[clamp(2.5rem,6vw,4rem)] font-semibold text-zinc-700 dark:text-zinc-200">
        <span>Custom</span>
        <span class="inline-grid w-[clamp(3rem,6vw,4rem)] grid-cols-1 grid-rows-1 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="93.97 97.52 192.07 185"
            class="origin-center opacity-100 [grid-area:1/1] [transition:transform_250ms,opacity_150ms_80ms] motion-safe:group-hover:rotate-[360deg] motion-safe:group-hover:scale-[.7] motion-safe:group-hover:opacity-0"
          >
            <path d="m282.83 170.73-.27-.69-26.14-68.22a6.81 6.81 0 0 0-2.69-3.24 7 7 0 0 0-8 .43 7 7 0 0 0-2.32 3.52l-17.65 54h-71.47l-17.65-54a6.86 6.86 0 0 0-2.32-3.53 7 7 0 0 0-8-.43 6.87 6.87 0 0 0-2.69 3.24L97.44 170l-.26.69a48.54 48.54 0 0 0 16.1 56.1l.09.07.24.17 39.82 29.82 19.7 14.91 12 9.06a8.07 8.07 0 0 0 9.76 0l12-9.06 19.7-14.91 40.06-30 .1-.08a48.56 48.56 0 0 0 16.08-56.04Z"
                  fill="#e24329"></path>
            <path fill="#fc6d26"
                  d="m282.83 170.73-.27-.69a88.3 88.3 0 0 0-35.15 15.8L190 229.25c19.55 14.79 36.57 27.64 36.57 27.64l40.06-30 .1-.08a48.56 48.56 0 0 0 16.1-56.08Z"></path>
            <path d="m153.43 256.89 19.7 14.91 12 9.06a8.07 8.07 0 0 0 9.76 0l12-9.06 19.7-14.91S209.55 244 190 229.25c-19.55 14.75-36.57 27.64-36.57 27.64Z"
                  fill="#fca326"></path>
            <path fill="#fc6d26"
                  d="M132.58 185.84A88.19 88.19 0 0 0 97.44 170l-.26.69a48.54 48.54 0 0 0 16.1 56.1l.09.07.24.17 39.82 29.82L190 229.21Z"></path>
          </svg>

          <span class="[grid-area:1/1]" data-random-emoji-tgt></span>

          <span class="hidden">
            {% for random_name in random_emoji_names %}
              {% assign emoji = emojis_db[random_name] %}
              <img
                src="{{ site_base_dir }}{{ emoji.path }}"
                alt="{{ emoji.name }} emoji"
                class="h-full max-h-full w-full max-w-full origin-center rotate-180 scale-[.7] object-contain opacity-0 [transition:transform_160ms_100ms,opacity_200ms_80ms] motion-safe:group-hover:rotate-[360deg] motion-safe:group-hover:scale-[1] motion-safe:group-hover:opacity-100"
                data-random-emoji
                data-loaded="false"
                loading="lazy"
                aria-hidden="true"
              >
            {%- endfor -%}
          </span>
        </span>
        <span>Emoji</span>
      </h1>

      <form
        data-form
        action=""
        class="mt-4 flex flex-row rounded-full transition-all duration-200 focus-within:shadow-lg focus-within:!shadow-brand-dark/20 hover:shadow-lg hover:shadow-brand-dark/10 lg:mt-8"
      >
        <label class="block w-full max-w-[250px] grow">
          <span class="sr-only">GitLab Group Path</span>
          <input
            type="text"
            name="group-path"
            class="relative z-20 block h-full w-full appearance-none rounded-l-xl rounded-r-none border-2 border-r-0 border-zinc-300 bg-zinc-50/90 px-4 py-2 font-medium text-black transition-colors duration-200 ease-in-out placeholder:text-zinc-400 focus:border-r-2 focus:border-brand-dark/60 focus:bg-zinc-50 focus:outline-none focus:placeholder:text-zinc-500 dark:border-zinc-600 dark:bg-zinc-800 dark:text-zinc-200 dark:focus:bg-zinc-800 dark:focus:placeholder:text-zinc-400/80"
            placeholder="GitLab Group Path"
          >
        </label>
        <button
          type="submit"
          class="relative z-10 inline-flex shrink-0 appearance-none items-center justify-center rounded-r-xl border-2 border-zinc-700/80 bg-zinc-950 px-4 py-2 text-sm font-semibold text-white transition-colors duration-300 ease-in-out hover:bg-zinc-900 focus:z-30 focus:border-brand-dark/60 focus:bg-brand-dark/80 dark:border-zinc-700 dark:bg-zinc-900 dark:hover:bg-zinc-700/20 dark:focus:bg-brand-dark/20"
          data-copy-msg="Copied!"
          data-err-none-selected="Please select at least one emoji."
        >
          Copy Query
        </button>
      </form>

      <div class="mt-4 space-y-0.5 text-center text-sm text-zinc-600 decoration-zinc-600 dark:text-zinc-200 dark:decoration-zinc-200">
        <p>
          Select emojis and copy the GraphQL mutations query that can be pasted in the
          <a
            href="https://gitlab.com/-/graphql-explorer"
            target="_blank"
            rel="noreferrer nofollow noindex"
            class="underline decoration-dashed"
            >GraphQL explorer</a
          >.
        </p>
        <p>
          Create mutations for multiple groups by comma-separating paths, e.g.
          <code class="rounded border border-dashed border-zinc-600 px-1 py-0.5 text-xs dark:border-zinc-300"
            >group1,group2</code
          >
        </p>
      </div>
    </header>

    <main class="mx-auto mt-12 max-w-screen-2xl px-4 sm:px-8 lg:mt-16">
      <ol class="grid grid-cols-[repeat(auto-fill,minmax(8rem,1fr))] gap-8">
        {%- for emoji_data in emojis_db -%}
          {% assign emoji = emoji_data[1] %}
          <li>
            <figure class="flex flex-col items-center">
              <button
                data-toggle-emoji
                class="group relative flex aspect-square h-full w-full items-center justify-center overflow-hidden rounded-md bg-zinc-100 p-4 shadow-lg ring-2 ring-zinc-300/50 transition-all duration-200 hover:bg-zinc-50 hover:shadow-xl hover:shadow-brand-dark/20 has-[:checked]:bg-brand-medium/40 has-[:checked]:shadow-xl has-[:checked]:shadow-brand-dark/30 has-[:checked]:ring-2 has-[:checked]:!ring-brand-dark/40 dark:bg-[#111] dark:ring-zinc-800 dark:hover:bg-zinc-950 dark:hover:shadow-brand-dark/10 dark:hover:ring-brand-dark/20 dark:has-[:checked]:bg-brand-dark/20 dark:has-[:checked]:shadow-brand-dark/20 dark:has-[:checked]:!ring-brand-dark/50"
                aria-label="Select {{ emoji.name }} emoji"
                aria-pressed="false"
              >
                <input
                  type="checkbox"
                  class="peer pointer-events-none absolute right-0 top-0 hidden"
                  data-emoji-name="{{ emoji.name }}"
                >
                <img
                  src="{{ site_base_dir }}{{ emoji.path }}"
                  alt="{{ emoji.name }} emoji"
                  class="block h-full max-h-16 w-full max-w-16 object-contain opacity-0 delay-500 [transition:transform_250ms,opacity_750ms] group-hover:scale-[1.02] peer-checked:scale-110 data-[loaded='true']:opacity-100"
                  data-loaded="false"
                  loading="lazy"
                >
              </button>
              <figcaption
                class="relative z-10 mt-3 flex w-full flex-col items-center text-xs text-zinc-800 [overflow-wrap:anywhere] dark:text-zinc-200"
              >
                <button
                  class="cursor-copy select-text font-bold before:content-[':'] after:content-[':']"
                  data-select-text
                  aria-label="{{- emoji.name -}} (click to copy name to clipboard)"
                >
                  {{- emoji.name -}}
                </button>
                <button
                  class="cursor-copy select-text"
                  data-select-text
                  aria-label="{{- emoji.name -}} (click to copy filename to clipboard)"
                >
                  {{- emoji.filename -}}
                </button>
              </figcaption>
            </figure>
          </li>
        {%- endfor -%}
      </ol>
    </main>

    <footer class="mx-auto mb-6 mt-12 max-w-screen-2xl px-4 text-center text-xs text-zinc-600 decoration-zinc-600 dark:text-zinc-400 dark:decoration-zinc-400">
      <a
        href="https://gitlab.com/custom_emoji/custom_emoji/-/issues/1"
        target="_blank"
        rel="noreferrer nofollow noindex"
        class="underline decoration-dashed"
      >
        Request a new emoji
      </a>
    </footer>

    <noscript class="fixed left-0 right-0 top-0 bg-red-600 px-8 py-1 text-center font-bold text-white">
      Sorry, this page doesn't work fully without JavaScript.
    </noscript>

    <script>
      /** @type {EmojiDb} */
      const EMOJIS_DB = JSON.parse('{{ emojis_db | json }}');
      /** @type {string[]} */
      const RANDOM_EMOJI_NAMES = JSON.parse('{{ random_emoji_names | json }}');
      const EMOJIS_DIR = '{{ emojis_dir }}';

      const formNode = document.querySelector('[data-form]');
      const randomEmojiTargetNode = document.querySelector('[data-random-emoji-tgt]');

      /**
       * @template T
       * @param {T|undefined|null} node
       * @returns {T}
       */
      function assertNode(node) {
        if (!node) {
          throw new Error('Required node not found');
        }

        return node;
      }

      /** @param {HTMLButtonElement} btn */
      function toggleEmoji(btn) {
        const checkbox = assertNode(btn.querySelector('input[type=checkbox][data-emoji-name]'));
        checkbox.checked = !checkbox.checked;

        btn.setAttribute('aria-pressed', btn.getAttribute('aria-pressed') === 'true' ? 'false' : 'true');
      }

      function parseGroupPaths() {
        return (formNode.querySelector('input[name="group-path"]').value || 'YOUR_GROUP_PATH')
          .split(',')
          .map(v => v.trim())
          .filter(v => v !== '');
      }

      /** @param {HTMLElement} node */
      function selectText(node) {
        const selection = window.getSelection();
        const range = document.createRange();
        const nodeToCopy = node.querySelector('[data-selectable]') ?? node;

        range.selectNodeContents(nodeToCopy);
        selection.removeAllRanges();
        selection.addRange(range);

        navigator.clipboard.writeText(nodeToCopy.textContent);
      }

      /**
       * @param {string[]} emojiNames
       * @returns {string}
       */
      function buildMutations(emojiNames) {
        const parsedUrl = new URL(window.location.href);
        const emojiImageBase = `${parsedUrl.origin}${parsedUrl.pathname}`.replace(/\/$/, '');

        let mutations = '';
        let idx = 0;

        for (const groupPath of parseGroupPaths()) {
          for (const emojiName of emojiNames) {
            /** @type {Emoji|undefined} */
            const emoji = EMOJIS_DB[emojiName];

            if (!emoji) {
              throw new Error('Unknown emoji: ' + emojiName);
            }

            mutations += `  m${idx}: createCustomEmoji(input: {
    groupPath: "${groupPath}",
    name: "${emoji.name}",
    url: "${emojiImageBase}/${emoji.path}",
  }) {
    customEmoji {
      name
    }
    errors
  }\n`;
            idx++;
          }
        }

        return `mutation {\n${mutations}}`;
      }

      /**
       * @param {HTMLButtonElement} btn
       * @returns {Promise<void>}
       */
      async function copyGqlMutations(btn) {
        if (btn.textContent === btn.dataset.copyMsg) {
          return;
        }

        // Focus button for mobile styling
        btn.focus();

        const checkboxes = document.querySelectorAll('input[type=checkbox][data-emoji-name]:checked');

        if (checkboxes.length === 0) {
          alert(btn.dataset.errNoneSelected);
          btn.blur();

          return;
        }

        const emojiNames = [];

        for (const checkbox of checkboxes) {
          emojiNames.push(checkbox.dataset.emojiName);
        }

        try {
          await navigator.clipboard.writeText(buildMutations(emojiNames));
        } catch (e) {
          // Won't work in non-https contexts
          console.error('Could not write to clipboard', e);
          alert('Could not write to clipboard: ' + e);
          btn.blur();

          return;
        }

        const oldText = btn.textContent.trim();

        btn.textContent = btn.dataset.copyMsg;

        await new Promise(resolve =>
          setTimeout(() => {
            btn.textContent = oldText;
            btn.blur();

            resolve();
          }, 2000)
        );
      }

      /**
       * @param {number} min - inclusive
       * @param {number} max - inclusive
       * @returns {number}
       */
      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);

        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

      function randomizeHeaderEmoji() {
        const randomEmojiNode = document.querySelector(
          `img[data-random-emoji]:nth-of-type(${getRandomInt(1, RANDOM_EMOJI_NAMES.length)})`
        );
        randomEmojiTargetNode.replaceChildren(randomEmojiNode.cloneNode(true));
      }

      randomizeHeaderEmoji();

      document.querySelector('[data-random-emoji-hover-area]').addEventListener('mouseleave', () => {
        setTimeout(randomizeHeaderEmoji, 280);
      });

      document.querySelectorAll("img[data-loaded='false']").forEach(img => {
        const markImageLoaded = () => (img.dataset.loaded = 'true');

        if (img.complete) {
          markImageLoaded();
        } else {
          img.addEventListener('load', markImageLoaded, { once: true });
        }
      });

      formNode.addEventListener('submit', e => {
        e.preventDefault();
        copyGqlMutations(assertNode(e.target.querySelector('button')));
      });

      document.querySelectorAll('[data-select-text]').forEach(node => {
        node.addEventListener('click', e => {
          e.preventDefault();
          selectText(node);
        });
      });

      document.querySelectorAll('[data-toggle-emoji]').forEach(btn => {
        btn.addEventListener('click', e => {
          e.preventDefault();
          toggleEmoji(btn);
        });
      });
    </script>
  </body>
</html>
